In [447]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ssl
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

ssl._create_default_https_context = ssl._create_unverified_context
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [448]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [449]:
clean_titanic = titanic_df.drop(columns=['Cabin', 'Ticket', 'PassengerId','Name'])

In [450]:
clean_titanic['sex_numbers'] = clean_titanic['Sex'].map({'female':1, 'male':0})

In [451]:
clean_titanic['embarked_numbers'] = clean_titanic['Embarked'].map({'S':1,'Q':2 ,'C':0})

In [452]:
clean_titanic = clean_titanic.replace(np.nan, 0)

In [453]:
y = clean_titanic['Survived']

pd.get_dummies(y)

     0  1
0    1  0
1    0  1
2    0  1
3    0  1
4    1  0
..  .. ..
886  1  0
887  0  1
888  1  0
889  0  1
890  1  0

[891 rows x 2 columns]

In [454]:
clean_titanic = clean_titanic.drop(columns=['Sex', 'Embarked'])

In [455]:
clean_titanic = clean_titanic.replace(np.nan, 0)

In [456]:
y = LabelBinarizer().fit_transform(y)

In [457]:
X = clean_titanic.loc[:,clean_titanic.columns!='Survived']

In [458]:
X = X.to_numpy()

In [459]:
type(X)

numpy.ndarray

In [460]:
X[:5]

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ,  0.    ,  1.    ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833,  1.    ,  0.    ],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ,  1.    ,  1.    ],
       [ 1.    , 35.    ,  1.    ,  0.    , 53.1   ,  1.    ,  1.    ],
       [ 3.    , 35.    ,  0.    ,  0.    ,  8.05  ,  0.    ,  1.    ]])

In [461]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=42)

In [462]:
from sklearn.cluster import AffinityPropagation
from sklearn.metrics import accuracy_score

In [463]:
knn_model = KNeighborsClassifier(n_neighbors=1)

In [464]:
knn_model.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/neighbors/_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [465]:

predictions = knn_model.predict(X_test)

In [466]:
score = accuracy_score(y_test, predictions)

In [467]:
score

0.6666666666666666